body { padding-top: 60px; }

form label { font-weight: bold; }

th { background-color: #E0F3FF; }
.sortable th { cursor: pointer; background-color: #E0F3FF; }
th, th a { color: #049CDB; }
tbody tr:hover { background-color: #fafafa; }

.rounded-box {
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
  background-color:	#EEEEEE;
  padding: 10px;
}

.brand { font-family: 'Luckiest Guy', cursive; }

.topbar .brand { color: #f0f05b; font-size: 25px; padding-bottom: 0; }
.topbar .brand:hover { text-decoration: none; }

.topbar .pull-right input, .topbar .pull-right button { margin-left: 5px; }
.topbar .pull-right button { padding-top: 4px; padding-bottom: 5px; }
.topbar .pull-right input { box-shadow: none;}

.vendor-adress { margin: 10px 0 0 150px; }

.sort-asc:after { content: '▲'; }
.sort-desc:after { content: '▼'; }

